* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
}
.navbar {
    z-index: 1000;
    position: fixed;
    border: 1px solid black;
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.fa-solid fa-hospital {
    background-color: blue;
    width: 25%;
    margin-left: 30px;
}
.header {
    width: 25%;
    margin-left: 0%;
    font-size: 40px;
    color: blue;
}
.nav-list {
    padding: 20px;
    width: 50%;
    margin-left: 0px;
    display: flex;
    justify-content: flex-end;
    list-style: none;
}
.nav-list>li {
    padding: 18px;
}
.pages-list li {
    padding: 10px;
}

.content-1 .contianer-1 p {
    
    column-count: 5;
    column-rule-style: solid; 
}
.home{
    color: blue;
}
.about:hover{
    color: blue;
}
.service:hover{
    color: blue;
}
.contact:hover{
    color: blue;
}
.pages {
    position: relative;
}
.pages-list {
    position: relative;
    background-color: #fff;
    list-style: none;
    display: none;
}
.nav-list li {
    font-size: 22px;
}

.featuro:hover{
    color: burlywood ;
}
.our-doctor:hover{
    color: burlywood;
}
.appointment:hover{
    color: burlywood;
}
.testimonial:hover{
    color: burlywood;
}
.four-zero-four-page:hover{
    color: burlywood;
}
.pages:hover .pages-list {
    display: block;
    position: absolute;
}

.blue {
    background-color: blue;
    color: white;
    margin: 0;
    padding: 0;
}
.nav-left{
    display: flex;
    align-items: center;

}
.nav-left i {
    margin-right: 20px;
}
.nav-right{
    padding: 0;
    margin: 0;
    position: relative;
    align-items: center;
    display: flex;
    position: relative;
    background-color: blue;
}

.icon {
    margin-left: 110px;
    color: rgb(137, 47, 47) !important;
    background-color: #fff;
}

.content-1 {
    width: auto;
    display: flex;
}

.contianer-1 {
    width: 50%;
    position: relative;
    height: 720px;
    background-color: rgb(82, 82, 239);
}

.contianer-1 h1 {
    position: absolute;
    top: 40%;
    padding-left: 5%;
    padding-right: 5%;
    /* left: 30%; */
    /* transform: translate(-50%, -50%); */
    color: white;
    /* text-align: center; */
    font-size: 60px;
}

.contianer-1 p {
    /* display: flex; */
    /* grid-column: var(3); */
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 60px;
}

.contianer-2 {
    width: 50%;
    position: relative;

}

.contianer-2 img {
    width: 100%;
    height: 720px;

}

.contianer-2 h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 60px;
}
.content-2{
    height: 2000px;
    position: relative;
    display: flex;
}
.contianer-3{
    width: 50%;
    display: flex;
    gap: 20px;
}
.con-2-img-1{
    width: 250px;
    height: 280px;
}
.con-2-img-2{
    width: 400px;
    height: 400px;

}
.contianer-4{
    width: 50%;
}
.contianer-4 .p-border{
     width: 100px;
    justify-items: center;
    align-items: center;
    font-size: 17px;
    color: rgb(68, 63, 63);
    /* padding-left: 10px; */
    padding: 8px;
    /* margin: 20px; */
    margin-top: 80px;
    border: 1px solid rgb(91, 90, 90);
    border-radius: 30px; 

}
.contianer-4 h1{
    margin-right: 10%;
    margin-top: 20px;
    font-size: 40px;

}
.contianer-4 p{
    font-size: 17px;
   padding-top: 20px;
   line-height: 30px;
 
}
.button{
    width: 140px;
    height: 60px;
    background-color:#0463FA;
    
    border-radius: 40px;
}
  

